amqp==2.4.0
celery==4.2.1
certifi==2018.4.16
chardet==3.0.4
defusedxml==0.5.0
Django==2.0.5
djangorestframework==3.9.1
enum34==1.1.6
idna==2.6
kombu==4.2.2.post1
oauthlib==2.1.0
Pillow==5.1.0
python3-openid==3.1.0
pytz==2018.4
requests==2.18.4
requests-oauthlib==1.0.0
schedule==0.5.0
six==1.11.0
vine==1.2.0
