{% extends 'base.html' %}
    {% block content %}
        <div class="product-big-title-area">
         <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Reset Your Password</h2>
                    </div>
                </div>
            </div>
         </div>
        </div> <!-- End Page title area -->

        <div class="product-bit-title text-center single-product-area">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}

            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>
            </form>

        </div>
    {% endblock %}
